@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
.main-holder {
  height: 100%;
}

body {
  font-family: 'Quicksand';
  font-size: 16px;
}

.main-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #5e35b1, #7e57c2);
}

/* Login Form */
.login-form {
  min-width: 300px;
  width: 90%;
  padding: 20px 0;
  background: #fff;
  border-radius: 15px;
  box-shadow: 3px 3px 6px #311b92;
}

@media screen and (min-width: 576px) {
  .login-form {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .login-form {
    max-width: 500px;
  }
}

.login-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  color: #5e35b1;
}

.login-list {
  list-style: none;
  padding: 0;
  width: 75%;
  margin: 0 auto;
}

.login-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.login-item > label {
  flex: 1 0 100%;
  margin-bottom: 5px;
}

.login-icon {
  margin-right: 5px;
  color: #000;
}

.login-item > input {
  flex-grow: 1;
  padding: 7px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1.1rem;
}

.login-item > input:focus {
  border-bottom: 1px solid #000;
}

.login-item > input[placeholder] {
  font-family: inherit;
}

/* Submit Button */
.btn {
  appearance: none;
  border: none;
  border-radius: .3125em;
  color: #fff;
  background: #7e57c2;
  font-size: 1rem;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  padding: .5em 1em;
  min-width: 4.6875em;
  cursor: pointer;
  transition: background-color .25s ease-out;
}

.btn:hover {
  background: #583c87;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #c2b0e2;
}

.btn:active {
  background: #482880;
}